* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    transition: background-color 0.5s ease, color 5.5 ease;
}

.estrellas i {
  color: gold;
  margin-right: 3%;
  font-size: 20px;
}
.estrellas{
    margin-left: 2vw;
    margin-bottom: 2vh;
}


#registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #005eff, #0345b9, #0101c1, #010147);
}

#mensaje-registro {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #030322, #010147);
    color: white;
    text-align: center;
}

#mensaje-registro.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #030322, #010147);
}

#mensaje-registro a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background:linear-gradient(to right,#51c9f1,#00bbff);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#mensaje-registro a:hover {
    transform: scale(1.1);
    background-color: blue;
}

.registro h2 {
    color: white;
    font-size: 3rem;
    font-family:cursive;
}

#inicio-form {
    padding: 3vh;
    height: 25%;
    width: 20%;
}

#inicio-form button {
    padding: 1vh;
    width: 50%;
    border-radius: 10px;
    background: linear-gradient(to right, blue, #010147);
    color: white;
}

#inicio-form button:hover {
    transform: scale(1.1);
    background-color: blue;
}

.mensaje-form.enviado {
    color: white;
    background-color: #030322;
    border: 1px solid white;
}

.mensaje-form.error {
    color: white;
    background-color: red;
    border: 1px solid white;
}

.mensaje-form {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
    font-size: 1rem;
    text-align: center;
    transition: all 0.3s ease;
}

.inicio {
    height: 100%;
    width: 100%;
    position: relative;
    color: black;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "navegador titulo"
        "texto texto"
        "enlace enlace";
}

.navegador {
    grid-area: navegador;
    display: flex;
    gap: 6vh;
    padding: 2vh;
    font-size: 1;
}

.navegador a,
.informacion a {
    text-decoration: none;
    color: white;
    
}

.titulo {
    grid-area: titulo;
    font-size: 2rem;
    color: white;
    text-align: end;
    padding: 2vh;
    width: 100%;
}

.texto {
    grid-area: texto;
    color: white;
    font-size: 4.5rem;
    padding: 2vh;
    margin-top: 30vh;
    margin-left: 10vh;
    text-align: left;
}

.boton-inicio {
    grid-area: enlace;
    padding: 2vh;
    background-color: #030322;
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
    width: 40vw;
    border-radius: 20px;
    box-shadow: 3px 3px 6px;
    position: absolute;
    bottom: 5vh;
    right: 5vw;
}

.inicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/ballet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.fondo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/bellet2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.fondo-practica{
    background:linear-gradient(to right,blue,#080890,#040446, #010118);
}
.estilos {
    width: 100vw;
    height: 100vh;
    background-color: #05051c;
    position: relative;
    z-index: 1;
}

.contenedor-pag-estilos {
    display: flex;
    gap: 5vh;
    margin-top: 10vh;
    justify-content: space-around;
}

.tarjeta {
    width: 30vh;
    height: 45vh;
    perspective: 1000px;
}

.contenido {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2.5s;
}

.tarjeta:hover .contenido {
    transform: rotateY(180deg);
}

.cara-frontal,
.cara-trasera {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px;
}

.cara-trasera {
    color: white;
    transform: rotateY(180deg);
}

.cara-frontal img {
    width: 30vh;
    height: 45vh;
    border-radius: 10px;
}

.estilos-titulo {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    padding: 2vh;
    font-family: 'Segoe UI';
    font-size: 5rem;
    color: white;
}

.cara-trasera h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.cara-trasera p {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    padding: 1vh;
    text-align: justify;
}

/*galeria*/
.galeria {
    position: relative;
    width: 95vw;
    height: 60vh;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

input[type="radio"] {
    display: none;
}

.slider {
    display: flex;
    height: 100%;
    position: relative;
    transition: all 0.5s ease;
    gap: 10vh;
    width: calc(100% * 6);
    margin-left: 5vh;
}

.siguiente-imagen {
    height: 100%;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.siguiente-imagen img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.flecha {
     position: absolute;
    top: 50%;
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
}
.flecha:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.izquierda {
    left: 80px;
}

.derecha {
    right: 10px;
}
.grupo {
  display: none;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  justify-content: space-between;
  pointer-events: auto;
  padding: 0 2rem;
  font-size: 2rem;
}

#slide1:checked ~ .controles #g1,
#slide2:checked ~ .controles #g2,
#slide3:checked ~ .controles #g3,
#slide4:checked ~ .controles #g4,
#slide5:checked ~ .controles #g5,
#slide6:checked ~ .controles #g6 {
  display: flex;
}

#slide1:checked ~ .slider {
  transform: translateX(0%);
}
#slide2:checked ~ .slider {
  transform: translateX(-10%);
}
#slide3:checked ~ .slider {
  transform: translateX(-20%);
}
#slide4:checked ~ .slider {
  transform: translateX(-30%);
}
#slide5:checked ~ .slider {
  transform: translateX(-40%);
}
#slide6:checked ~ .slider {
  transform: translateX(-50%);
}

.siguiente-imagen img:hover {
    transform: scale(1.1);
} 

.controles{
    position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.siguiente-imagen:hover figcaption {
    opacity: 1;
}



figcaption {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 1rem;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    z-index: 1;
}

/*comentarios*/
.comentarios-principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "comentarios formulario";
    gap: 4vh;
    align-items: start;
    width: 100%;
    height: 70%;
}

.comentarios {
    grid-area: comentarios;
    display: flex;
    gap: 2vh;
}

.div-comentarios {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "texto"
        "imagen"
        "nombre";
    background: linear-gradient(to bottom, rgb(95, 187, 218), lightblue, white);
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    width: 30vh;
    ;
    height: auto;
    max-height: 40vh;
    overflow-y: auto;
    z-index: 1;
    opacity: 0.7;
}

.opinion {
    grid-area: texto;
    color: black;
    padding: 3vh;
    text-align: center;

}

.foto-usuario {
    grid-area: imagen;
    width: 5vw;
    height: 12vh;
    margin-left: 10vh;
    border-radius: 100%;
    
}
.foto-usuario2{
    grid-area: imagen;
    width: 7vw;
    height: 13vh;
    margin-left: 10vh;
    border-radius: 100%;
    
}
.foto-usuario3{
    grid-area: imagen;
    width: 5vw;
    height: 12vh;
    margin-left: 10vh;
    border-radius: 100%;
    
}

.nombre {
    grid-area: nombre;
    color: black;
    text-align: center;
    font-size: 2rem;
}

form {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    height: 100%;
    background-color: #030322;
    border-radius: 10px;
    opacity: 0.8;
    align-items: center;
    color: white;
    padding: 2vw;
    gap: 1vh;
}

form label {
    align-self: flex-start;
    padding-left: 5%;
}

.boton-comentario {
    padding: 1vh;
    margin-bottom: 1vh;
    width: 70%;
    border-radius: 10px;
    background-color: #030322;
    color: white;
    box-shadow: 3px 3px 5px;
}

form input {
    padding: 1vh;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
    max-height: 200px;
}

form textarea {
    padding: 2vh;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
    max-height: 200px;
}

form h2 {
    color: white;
    font-size: 2rem;
    padding: 2vh;
}

form p {
    color: white;
}

/*form textarea{
    width: 80%;
    margin-bottom: 0.9vh;
    border-radius: 10px;
    padding: 3vh;
}*/
/*contacto*/
.pregunta-contacto {
    color: white;
    text-align: center;
    font-size: 5vh;
    box-shadow: 5px 5px 5px white;
}

.mapa {
    height: 50vh;
    margin: 0 auto;
    display: block;
    width: 90vw;
    max-width: 100%;
}

.titulo-contacto {
    color: white;
}

footer p {
    color: white;

}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "ubicacion informacion";
}

.contacto {
    grid-area: ubicacion;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3.5rem;
    font-size: 1.5rem;
}

.informacion {
    grid-area: informacion;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.5rem;
    font-size: 1.5rem;
}

.informacion a {
    box-shadow: none;
}

/*lago de los cisnes info*/
.mejor-bailarina {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.mejor-bailarina h2 {
    text-align: center;
    line-height: 5rem;
    color: white;
}

.mejor-bailarina h1 {
    text-align: center;
    line-height: 5rem;
    color: white;
    font-size: 3rem;
}

.foto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "foto texto";
}

.mejor-bailarina img {
    grid-area: foto;
    width: 20vw;
    padding: 2vh;
    margin: 0 auto;
    display: block;

}

.foto p {
    grid-area: texto;
    color: white;
    margin-top: 10vh;
    padding: 2vh;
}

.video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "video texto"
}

.video video {
    grid-area: video;
    width: 27vw;
    margin-left: 20vh;
}

.texto-video {
    grid-area: texto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "texto"
        "boton";
    color: white;

}

.boton-lago {
    grid-area: boton;
    justify-self: flex-end;
    margin-right: 2rem;
}

.boton-lago button {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #030322;
    color: white;
    border-radius: 10px;
}

.imagen-durmiente {
    width: 30vw !important;
}

.imagen-romeo {
    width: 18vw !important;
}

.cisnes {
    width: 15vw !important;
}


@media (max-width:800px) {
    .inicio {
        height: 100%;
        width: 100%;
        position: relative;
        color: black;
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "navegador"
            "titulo"
            "texto"
            "enlace";
    }

    .texto {
        font-size: 1.5rem;
        margin-top: 0vh;
        text-align: left;
        padding: 10vh;
        margin-left: 0vh;
    }

    .boton-inicio {
        padding: 1.5vh;
        font-size: 1rem;
        margin-right: 2vh;
        margin-bottom: 5vh;

    }

    #inicio-form {
    padding:2vh;
    height: 25%;
    width: 50%;
}
    .navegador {
        gap: 1vh;
        padding: 3vh;
        font-size: 0.64rem;
        margin-top: 0vh;
        width: 100%;
    }

    .titulo {
        text-align: left;
        padding: 5vh;

    }

    .inicio::before {
        background-position: center;
    }

    .estilos-titulo {
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
        padding: 2vh;
        font-family: 'Segoe UI';
        font-size: 2.7rem;
        color: white;
    }

    .contenedor-pag-estilos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        margin-top: 0vh;
    }

    .siguiente-imagen img {
        width: 70vw;
        height: 30vh;
        margin-top: 12vh;

    }

    .comentarios {
        display: flex;
        flex-direction: column;
    }

    .div-comentarios {
        width: 20vh;
        ;
        height: 25vh;
    }

    .opinion {
        padding: 2vh;
        font-size: 0.6rem;

    }

    .foto-usuario {
        width: 10vw;
        height: 6vh;
        margin-left: 8vh;
        margin-top: 0vh;
    }

    .nombre {
        font-size: 1rem;
    }

    form {
        width: 30vh;
        height: 70vh;
    }

    form h2 {
        color: white;
        font-size: 1.5rem;
        padding: 2vh;
    }

    .mejor-bailarina img {
        margin-left: 9vh;
    }

    .foto p {
        font-size: 0.6rem;
        margin-top: 0vh;
        padding: 0vh;
    }

    .cisnes {
        width: 30vw !important;
    }

    .video video {
        grid-area: video;
        width: 45vw;
        margin-top: 5vh;
        margin-left: 2vh;
    }

    .video p {
        margin-top: 5vh;
        font-size: 0.6rem;
    }

    .texto-video {
        grid-area: texto;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "texto"
            "boton";
        color: white;
    }

    .boton-lago button {
        padding: 0.5rem;
        font-size: 1rem;
        margin-top: 5vh;
    }

    .mapa {
        height: 20vh;
        margin-top: 10vh
    }

    .contacto {
        margin-top: 19vh;
        line-height: 3rem;
        font-size: 1rem;
    }

    .informacion {
        margin-top: 20vh;
        line-height: 2rem;
        font-size: 0.8rem;
    }
    .slider {
    display: flex;
    height: 100%;
    position: relative;
    transition: all 0.5s ease;
    gap: 5vh;
    width: calc(140% * 6);
    margin-left: 5vh;
}
.izquierda {
    left: 20px;
}

.derecha {
    right: 0px;
}
.foto-usuario {
    width: 12vw;
    height: 8vh;
    margin-left: 8vh;
    
}
.foto-usuario2{
    width: 15vw;
    height: 9.5vh;
    margin-left: 7vh;
    
}
.foto-usuario3{
    width: 12vw;
    height: 8vh;
    margin-left: 8vh;  
}
.estrellas i {
  color: gold;
  margin-right: 0%;
  font-size: 12px;
}
.estrellas{
    margin-left: 8vw;
    margin-bottom: 2vh;
}
}