*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
}
.inicio{
    height: 100%;
    width: 100%;
    position: relative;
    color: black;
    z-index: 1;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "navegador titulo"
                        "texto texto"
                        "enlace enlace";
}
.navegador{
    grid-area: navegador;
    display: flex;
    gap:6vh;
    padding: 2vh;
    font-size: 1;
}
.navegador a, .informacion a{
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 6px white;
}
.titulo{
    grid-area: titulo;
    font-size: 2rem;
    color: white;
    text-align: end;
    padding: 2vh;
    width: 100%;
}
.texto{
    grid-area: texto;
    color: white;
    font-size: 4.5rem;
    padding: 2vh;
    margin-top: 30vh;
    margin-left: 10vh;
    text-align:left;
}
.boton-inicio{
    grid-area: enlace;
    padding: 2vh ;
    background-color: #030322;
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
    width: 40vw;
    margin-left: 100vh;
    border-radius: 20px;
    box-shadow: 3px 3px 6px;
    position: absolute;
}
.inicio::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    margin:0;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../img/ballet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.fondo::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    margin:0;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../img/bellet2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.estilos{
    width: 100vw;
    height: 100vh;
    background-color: #05051c;
    position: relative;
    z-index: 1;
}
.contenedor-pag-estilos{
    display: flex;
    gap: 5vh;
    margin-top: 10vh;
    justify-content: space-around;
}
.tarjeta{
    width: 30vh;
    height: 45vh;
    perspective: 1000px;
}
.contenido{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2.5s;
}
.tarjeta:hover .contenido{
    transform: rotateY(180deg);
}
.cara-frontal,.cara-trasera{
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: 3px 3px 10px;
}
.cara-trasera{
    color: white;
    transform: rotateY(180deg);
}

.cara-frontal img{
    width:30vh;
    height: 45vh;
    border-radius: 10px;
}

.estilos-titulo{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    padding: 2vh;
    font-family:'Segoe UI';
    font-size: 5rem;
    color: white;
}
.cara-trasera h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
.cara-trasera p{
    font-size: 1.2rem;
    color: white;
    text-align: center;
    padding: 1vh;
    text-align: justify;
}
/*galeria*/
.galeria{
    display: flex;
    overflow-x: auto;
    gap: 3rem;
    padding: 1rem;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.siguiente-imagen{
    position: relative;
    flex: 0 0 auto;
    scroll-snap-align: center;
    transform: translateY(0px);
}
.siguiente-imagen img{
    width: 50vw;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #030322 ;
    margin-top: 5vh;
    height:60vh;
    z-index: 0;
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.siguiente-imagen:hover{
    transform: scale(1.3);
}
.siguiente-imagen:hover figcaption{
    opacity: 1;
}
.galeria::-webkit-scrollbar{
    display: none;
}
figcaption{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 1rem;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    z-index: 1;
}
/*comentarios*/
.comentarios-principal{
    margin-top: 0;
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    grid-template-areas: "comentarios formulario";
    gap: 2vh;
}
.comentarios{
    grid-area: comentarios;
    display: flex;
    gap: 2vh;
}
.div-comentarios{
    display:grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "texto"
                        "imagen"
                        "nombre";
    background:linear-gradient(to bottom ,rgb(95, 187, 218),lightblue,white);
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    width: 30vh;;
    height: 60vh;
    z-index: 1;
    opacity: 0.7;
}
.opinion{
    grid-area: texto;
    color: black;
    padding: 3vh;
    text-align: center;

} 

.foto-usuario{
    grid-area: imagen;
    width: 5vw;
    height: 10vh;
    margin-left: 10vh;
    margin-top: 5vh;
    border-radius:100% ;
    box-shadow: 3px 5px 5px black;
}
.nombre{
    grid-area: nombre;
    color: black;
    text-align: center;
    font-size: 2rem;
}
form{
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    margin:0 auto;
    background-color: #030322;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 1;
    opacity: 0.8;
    align-items: center;
    color: white;
    padding: 2vw;
    gap: 1vh;
}
form label{
    align-self: flex-start;
    padding-left: 5%;
}
.boton-comentario{
    padding: 1vh;
    margin-bottom: 1vh;
    width: 70%;
    border-radius: 10px;
    background-color: #030322;
    color: white;
    box-shadow: 3px 3px 5px;
}
form input,form textarea{
    padding: 1vh;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
    max-height: 200px;
}

form h2{
    color: white;
    font-size: 2rem;
    padding: 2vh;
}
form p{
    color: white;
}
/*form textarea{
    width: 80%;
    margin-bottom: 0.9vh;
    border-radius: 10px;
    padding: 3vh;
}*/
/*contacto*/
.pregunta-contacto{
    color: white;
    text-align: center;
    font-size: 5vh;
    box-shadow: 5px 5px 5px white;
}

@media (max-width:800px){
.inicio{
    height: 100%;
    width: 100%;
    position: relative;
    color: black;
    z-index: 1;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "navegador"
                        "titulo"
                        "texto"
                        "enlace";
}
.texto{
    font-size: 1.5rem;
    margin-top: 0vh;
    text-align:left;
     padding: 10vh;
    margin-left: 0vh;
}
.boton-inicio{
    padding: 0vh ;
    font-size: 1rem;
    margin-left: 20vh;
    
}
.navegador{
    gap:1vh;
    padding: 3vh;
    font-size: 0.64rem;
    margin-top: 0vh;
    width: 100%;
}
.titulo{
    text-align: left;
    padding: 5vh;
    
}
.inicio::before{
    background-position: center;
}
.estilos-titulo{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    padding: 2vh;
    font-family:'Segoe UI';
    font-size: 2.7rem;
    color: white;
}
.contenedor-pag-estilos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-top: 0vh;
}
.siguiente-imagen img{
    width: 70vw;
    height:30vh;
    margin-top: 12vh;
   
}
.comentarios{
    display: flex;
    flex-direction: column;
}
.div-comentarios{
    width: 20vh;;
    height: 25vh;
}
.opinion{
    padding: 2vh;
    font-size: 0.6rem;

} 

.foto-usuario{
    width: 10vw;
    height: 6vh;
    margin-left: 8vh;
    margin-top: 0vh;
}
.nombre{
    font-size: 1rem;
}
form{
    width: 30vh;
    height: 70vh;
}
form h2{
    color: white;
    font-size: 1.5rem;
    padding: 2vh;
}
}